    body {
        background-color: var(--secondary-color);
        background-color: var(--primary-color);
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        background-image: url(https://images.pexels.com/photos/2078271/pexels-photo-2078271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-color: #cccccc;
        height: 500px;
        background-position: cover;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}
.nav-heading:hover {
    text-shadow: none;
    border: none;
}
.fa-45 {
    animation-name: round;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
h1 {
    font-family: aerial;
    color: #bd8cbf;
    text-shadow: 5px 5px 5px rgba(135, 206, 250, 0.4);
}
#delicon:hover {
    cursor: pointer;
}
.container pt-4 mt-5 my-3 {
    .container .welcome-text {
        padding-top: 10px;
        font-family: sans-serif;
    }
    
    .navbar-custom {
        width: 100vw;
    }
    
    .table-custom {
        width: 100%;
        overflow: scroll;
        scroll-behavior: smooth;
        height: 100%;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        margin-left: 40%;
    }